Practice Notebook!

In [24]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
# use Tech_Gaints.xlsx
ds = pd.read_excel("Tech_Gaints.xlsx", "Sheet1", header = 0, na_values={"Eps" : ["Not Available"],
                                                                        "Revenue":[-1],
                                                                        "Price" : ["n.a"],
                                                                        "Peaple" : ["n.a"]},
                                                                         nrows = None,
                                                                         names= None)
ds.replace({"Revenue":[-1]}, np.nan, inplace = True)   # bcoz it i snot working in above statement.


# Reading a file

      # reading  a file with column titles
      # can be used for skipping the rows,
                                            
                # header = 0, it is default
                # if header = 1 then first row become title
       
                # to read nunber of n number of rows

          # it makes null value, key == column name
          # value == to make it null

     Tickers   Eps  Revenue   Price         Peaple
0     Google  27.8       87   845.0     larry page
1   WallMart   4.6      484    65.0            NaN
2  Mircosoft  -1.0       85    64.0     bill gates
3   Reliance   NaN       50  1023.0  mukesh ambani
4       Tata   5.6       -1     NaN     ratan tata

In [26]:
# Now Writing into a file.( to_csv())
ds.to_csv("Tech_Gaints.csv", index = False)

# index = False : now default index will not be visible on the file,
# columns =['index', 'firstName', 'lastName'] :  only these columns will visile on new file,
# header = False : column title will not be visible

# To Attach N Sheets in Excel sheet

In [27]:
# For xlsx Files.
# We use ExcelWriter function in  pandas

# preparing 2 ds's

# put it in sheet1
ds1 = ds[["Tickers", "Eps"]]

# put it in sheet2
ds2 = ds[["Revenue", "Price", "Peaple"]]

     Tickers   Eps
0     Google  27.8
1   WallMart   4.6
2  Mircosoft  -1.0
3   Reliance   NaN
4       Tata   5.6
   Revenue   Price         Peaple
0       87   845.0     larry page
1      484    65.0            NaN
2       85    64.0     bill gates
3       50  1023.0  mukesh ambani
4       -1     NaN     ratan tata

In [29]:
with pd.ExcelWriter("TG.xlsx", ) as writer:
    ds1.to_excel(writer, "sheet1", index = False)
    ds2.to_excel(writer, "sheet2")

# File Name will be TG.xlsx 
# data of ds1 will be shown on sheet1
# data of ds2 will be shown on sheet2