In [ ]:
# Period and PeriodIndex
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
y = pd.Period("2019")

In [ ]:
# Start time

Timestamp('2019-01-01 00:00:00')

In [ ]:
# End time

Timestamp('2019-12-31 23:59:59.999999999')

In [ ]:
# we can also create another year by just adding 1.

Timestamp('2020-12-31 23:59:59.999999999')

In [ ]:
# we can also change frequency by Months, days ,Hours,
# for months

Period('2016-01', 'M')

In [ ]:
     # start time of month

Timestamp('2016-01-01 00:00:00')

In [ ]:
     # it gives end time of month

Timestamp('2016-01-31 23:59:59.999999999')

In [ ]:
   # it gives the feb month.

Period('2016-02', 'M')

In [ ]:
# for days

Period('2016-11-05', 'D')

In [ ]:
    # start time of day

Timestamp('2016-11-05 00:00:00')

In [ ]:
    # end time of day

Timestamp('2016-11-05 23:59:59.999999999')

In [ ]:
    # gives the next day!

Period('2016-11-06', 'D')

In [ ]:
      # making the period for hour

Period('2016-11-02 14:00', 'H')

In [ ]:
     # start time of the period(hour)

Timestamp('2016-11-02 14:00:00')

In [ ]:
    # end time of the period

Timestamp('2016-11-02 14:59:59.999999999')

In [ ]:
    # gives next hour!

Period('2016-11-02 15:00', 'H')

In [ ]:
# now Quaters (4 quaters in a year)
     # in freq write when your quater ends

In [ ]:
    # it gives the start time.

Timestamp('2016-11-01 00:00:00')

In [ ]:
     # 31st jan is the ending of the quater

Timestamp('2017-01-31 23:59:59.999999999')

In [ ]:
# now period range function

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [ ]:
# for epypt period ends in january

Timestamp('2015-01-01 00:00:00')

In [ ]:
# now creating a series
s = pd.Series(np.random.randn(len(pr)), index=pr)
s

2011Q1   -0.699187
2011Q2   -1.189613
2011Q3    2.219318
2011Q4   -0.984657
2012Q1    0.664961
2012Q2   -0.064944
2012Q3   -1.441646
2012Q4   -0.355526
2013Q1    0.260620
2013Q2    0.786357
2013Q3    0.610516
2013Q4    0.550666
2014Q1   -0.571366
2014Q2   -1.027123
2014Q3    1.111242
2014Q4   -1.908722
2015Q1   -0.446260
Freq: Q-DEC, dtype: float64

In [ ]:
# now we can retrive a quater by its year
s["2011"]

2011Q1   -0.699187
2011Q2   -1.189613
2011Q3    2.219318
2011Q4   -0.984657
Freq: Q-DEC, dtype: float64

In [ ]:
# now we can retrive a quater by its yearS
# perform slicing of the years

2011Q1   -0.699187
2011Q2   -1.189613
2011Q3    2.219318
2011Q4   -0.984657
2012Q1    0.664961
2012Q2   -0.064944
2012Q3   -1.441646
2012Q4   -0.355526
2013Q1    0.260620
2013Q2    0.786357
2013Q3    0.610516
2013Q4    0.550666
Freq: Q-DEC, dtype: float64

In [ ]:
# converting into the quater into dates

DatetimeIndex(['2011-01-01', '2011-04-01', '2011-07-01', '2011-10-01',
               '2012-01-01', '2012-04-01', '2012-07-01', '2012-10-01',
               '2013-01-01', '2013-04-01', '2013-07-01', '2013-10-01',
               '2014-01-01', '2014-04-01', '2014-07-01', '2014-10-01',
               '2015-01-01'],
              dtype='datetime64[ns]', freq='QS-OCT')

In [ ]:
# converting the timestamp into index

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [ ]:
# import the dataset for exercise

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [ ]:
# performing transposing of the matrix

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

Line Item  Revenue  Expenses  Profit start date Start date   End date
2017Q1      115904     86544   29360 2016-02-01 2016-02-01 2016-04-30
2017Q2      120854     89485   31369 2016-05-01 2016-05-01 2016-07-31
2017Q3      118179     87484   30695 2016-08-01 2016-08-01 2016-10-31
2017Q4      130936     97743   33193 2016-11-01 2016-11-01 2017-01-31
2018Q1      117542     87688   29854 2017-02-01 2017-02-01 2017-04-30