In [0]:
# Now converting this to datetime
import pandas as pd
# 5 january 2017
dates = ["2017-01-05", "Jan 5, 2017", "01/05/2017", "2017.01.05", "2017/01/05", "20170105"]
dates_with_time = ["2017-01-05 2:30 PM", "Jan 5, 2017 14:30", "01/05/2017"]

In [8]:
pd.to_datetime(dates)

DatetimeIndex(['2017-01-05', '2017-01-05', '2017-01-05', '2017-01-05',
               '2017-01-05', '2017-01-05'],
              dtype='datetime64[ns]', freq=None)

In [7]:
pd.to_datetime(dates_with_time)

DatetimeIndex(['2017-01-05 14:30:00', '2017-01-05 14:30:00',
               '2017-01-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [11]:
# us date format mm/dd/yyyy (Default)
# europe date format dd/mm/yyyy
pd.to_datetime("05/01/2017", dayfirst = True)   # 5 will be considered as day

Timestamp('2017-01-05 00:00:00')

In [13]:
# universal date conversion format
pd.to_datetime("05$01$$2017",format="%d$%m$$%Y" )  # any character can be replaced in place of $

Timestamp('2017-01-05 00:00:00')

In [17]:
# to handle errors (not date time values) 
# NaT means Not a Timestamp.
dates = ["2017-01-05", "Jan 5, 2017", "01/05/2017", "2017.01.05", "2017/01/05", "20170105", "abc", "dev"]
dt = pd.to_datetime(dates, errors = "coerce")
dt

DatetimeIndex(['2017-01-05', '2017-01-05', '2017-01-05', '2017-01-05',
               '2017-01-05', '2017-01-05',        'NaT',        'NaT'],
              dtype='datetime64[ns]', freq=None)